# gradle
.gradle/
build/
out/
classes/

# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# IntelliJ Idea
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/

# Minecraft
run/

# Java
hs_err_*.log
replay_*.log
*.hprof
*.jfr

# MacOS
*.DS_Store
